@font-face {
    font-family: "Alice Regular";
    src: url(../../fonts/Alice-Regular.ttf) format("truetype");
}
.die.selected {
	background-image: url('../dieselected.gif');
}
table, th, td {
	border: 1px solid black;

}
td {
	width: 200px;
}
table td.chkbx {
	width: 20px;
}
.score {
	font-family: "Alice Regular", cursive;
	color: blue;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}
.choice {
	font-family: "Alice Regular", cursive;
	color: blueviolet;
	background-color: antiquewhite;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}
.total {
	font-family: "Alice Regular", cursive;
	color: darkgreen;
	background-color: darkseagreen;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}
td.highlight {
	background-color: #FFA07A;
}
h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.diceGroup h4 {
    display: inline;
    font-size: 1em;
}
h4#idhumanheader {
    font-size: 1em;
    color: blue;
}
h4#swalgameover {
   color: darkgreen;
}
#dicebutton {
   width: 10em;
}
#score {
   width: 10em;
}
#dicebutton:enabled:active {
   background-color: #3e8e41;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
}
#score:enabled:active {
   background-color: #3e8e41;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
}
label.checkbox1.highlight {
  background-color: #FFA07A;
}
label.checkbox1 input[type="checkbox"] {display:none;}
label.checkbox1 span {
  display:inline-block;
  border: none;
  width:20px;
  height:20px;
  background: gray;
  vertical-align:middle;
  margin: 2px;
  position: relative;
  transition:width 0.1s, height 0.1s, margin 0.1s;
}
label.checkbox1 :checked + span {
  background: blue;
  width:20px;
  height:20px;
  margin: 2px;
}
label.checkbox1 :checked + span:after {
  content: "\2713";
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: -2px;
  left: 5px;
}
label.checkbox2 input[type="checkbox"] {display:none;}
label.checkbox2 span {
  display:inline-block;
  border:2px solid #BBB;
  border-radius:10px;
  width:20px;
  height:20px;
  background:#C33;
  vertical-align:middle;
  margin: 2px;
  position: relative;
  transition:width 0.1s, height 0.1s, margin 0.1s;
}
label.checkbox2 :checked + span {
  background:#6F6;
  width:20px;
  height:20px;
  margin: 2px;
}
label.checkbox2 :checked + span:after {
  content: '\2714';
  font-size: 20px;
  position: absolute;
  top: -2px;
  left: 5px;
  color: #99a1a7;
}
label.checkbox3 input[type="checkbox"] {display:none;}
label.checkbox3 span {
  display:inline-block;
  border:2px solid #BBB;
  border-radius:10px;
  width:20px;
  height:20px;
  background:#ffffff;
  vertical-align:middle;
  margin: 2px;
  position: relative;
  transition:width 0.1s, height 0.1s, margin 0.1s;
}
